
#template {
    position: absolute;
    background-color: #E1FFEE;
    padding: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
}